extends layout

//block head
//  script(type='text/javascript', src="/view_models/index_view_model.js")

block content
  h1= title
  br
  p File Path:
    input(data-bind="value: file_path")
  p(data-bind="text: file_path")
  button#getFiles(
    class="btn",
    onclick="javascript:getFiles()").
    Get Files

  script(type='text/javascript', src="/view_models/index_view_model.js")
